body {
    background-color: lightblue;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
.thumbnails {
    text-align: center;
    padding-top: 20px;
}

.thumbnails .thumb img .active {
    border: 1px solid green;
}

h2 {
    text-align: center;
}

body > .photo-frame{
    display: none;
}
.modal {
    position: absolute;
    z-index: 1000;
    background-color:#0f0;
}